* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: "Circular-Std-Regular", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #160647;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 400;
}
input,textarea,select{
	font-family: "Circular-Std-Regular", Arial, Helvetica, sans-serif;
	font-weight: 400;
}

a{
	color: #160647;
}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: "Circular-Std-Regular", Arial;
	font-weight: 400;
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1100px;
}
@font-face {
	font-family: 'Circular-Std-Regular';
	src:url('../fonts/CircularStd-Regular.woff2') format('woff2');
	src:url('../fonts/CircularStd-Regular.woff') format('woff');
	font-style: normal;
}
@font-face {
    font-family: 'Circular-Std-Bold';
    src: url("../fonts/CircularStd-Bold.woff2") format("woff2");
    src: url("../fonts/CircularStd-Bold.woff") format("woff");
    font-style: normal
}
#home{
	background: url(../images/strip.png);
	background-repeat: no-repeat;
	background-position: 1458px 566px;
	width: 100%;
	height: 1453px;
}
#home .wrapper{
	width: 90%;
	margin: 0 auto;
	max-width: 1800px;
}
header{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 30px;
}
header div.left h1{
	width: 130px;
}
header div.left h1 a{
	display: block;
	width: 100%;
}
header div.left h1 a img{
	width: 100%;
	display: block;
}
header div.center nav ul{
	display: flex;
	align-items: center;
}
header div.center nav ul li{
	margin-right: 50px;
}
header div.center nav ul li :last-child{
	margin-right: 0;
}
header div.center nav ul li.one{
	
}
header div.center nav ul li a{
	color: #160647;
	font-size: 20px;
	align-items: center;
	font-family: 'Circular-Std-Regular';
}
header div.center nav ul li a:hover{
	border-bottom: 1px solid #160647;
	color: #160647;
}
header div.left{
	display: flex;
	align-items: center;
}
header div.left ul{
	display: flex;
	align-items: center;
}
header div.left ul li{
	margin-right: 50px;
}
header div.left ul li:last-child{
	margin-right: 0;
}
header div.left ul li a{
	color: #160647;
	font-size: 20px;
	align-items: center;
}
header div.left ul li a.button{
	padding: 15px 30px;
    border-radius: 8px;
    background: #160647;
	color: #fff;
}
#spotlight{

}
#spotlight section.wrapper{
	width: 80%;
	margin: 180px auto 0;
	padding-bottom: 100px;
}
#spotlight section.wrapper div.top{
	text-align: center;
}
#spotlight section.wrapper div.top h1{
	font-size: 101px;
	font-family: 'Circular-Std-Bold';
}
#spotlight section.wrapper div.top p{
	margin-top: 35px;
	font-size: 24px;
	font-family: 'Circular-Std-Regular';
}
#spotlight section.wrapper div.bottom{
	margin-top: 140px;
}
#spotlight section.wrapper div.bottom ul{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
#spotlight section.wrapper div.bottom ul li{
	width: 48%;
    padding: 44px;
}
#spotlight section.wrapper div.bottom ul li a{

}
#spotlight section.wrapper div.bottom ul li a img{
	padding: 10px;
	box-shadow: 0px 4px 4px 0 rgb(0 0 0 / 10%), 0 0 10px 0 rgb(0 0 0 / 10%);
}
#spotlight section.wrapper div.bottom ul li h3{
	font-size: 47px;
	font-family: 'Circular-Std-Bold';
	margin-top: 50px;
}
#spotlight section.wrapper div.bottom ul li h3 a{
	color: black;
	font-family: 'Circular-Std-Bold';
}
#spotlight section.wrapper div.bottom ul li p{
	font-size: 26px;
	font-family: 'Circular-Std-Regular';
	margin-top: 30px;
}















